body {background-color: grey}
h1 {color:white}
div.one {background-color:orange; width:100px; height: 100px; }
div.two {background-color:orange; width:100px; height: 100px; }
div.three {background-color:orange; width:100px; height: 100px; }
div.four {background-color:orange; width:100px; height: 100px; }